.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1260px) {
    .container {
        width: 1260px;
    }
}

@media (min-width: 767px) {

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-button {
        width: 8px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        border: thin solid rgb(238, 238, 238);
        box-shadow: 0px 0px 3px #dfdfdf inset;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #ccc;
        border: thin solid #ccc;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #7d7d7d;
    }

}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.header-section {
    display: block;
    width: 100%;
    height: 55px;
    background-color: #222831;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;

    .top-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 1;

        ul {
            flex: 1;
        }

        .extra {

            a,
            span {
                cursor: pointer;
                display: block;
                color: #a7a7a7;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        color: white;
    }
}

.card-film-section {
    .empty {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px;
    }

    .dflex-mobile {
        display: flex;
        flex-direction: column;
    }

    .dflex-pc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .film-content {
        .card-film-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            .card-film-image {}

            .card-film-left {

                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 5px;
                }
            }

            .card-film-right {
                width: 100%;

                .film-title {
                    height: 44px;
                    overflow: hidden;
                    color: #353535;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    text-align: left;
                    margin-bottom: 10px;
                    line-height: 1.3;
                    transition: .2s all;
                    font-size: 17px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .film-location {
                    padding-bottom: 5px;
                }

                .film-updatedAt {
                    display: block;
                    float: right;
                    color: #919191;
                }
            }
        }

        .tab-film {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            button {
                height: 32px;
                min-width: 120px;
                border: none;
                border-radius: 4px;
                font-weight: 600;
                cursor: pointer;
                background-color: #efebdb;

                &.active {
                    background-color: #cdb664;
                }
            }
        }
    }
}

.cinema-section {
    .cinema-content {
        padding-top: 50px;

        .custom-dots li {
            button {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.5);
                /* Màu sắc của chấm chưa được chọn */
            }
        }

        .card-customize {
            height: 300px;
            width: 100%;
            margin: 0 auto;
            border-radius: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}


.home-section {

    .empty {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px;
    }

    .dflex-mobile {
        display: flex;
        flex-direction: column;
    }

    .dflex-pc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        font-size: 27px;
        font-family: "Roboto", sans-serif;
        color: #353535;
        line-height: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.detail-film-section {
    .header {
        margin: 20px 0;
        color: #353535;
        font-size: 27px;
    }

    .btn-apply {
        width: 100%;
        cursor: pointer;
        text-align: center;
        color: #fff;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        font-size: 20px;
        padding: 10px 15px;
        border: 0;
        border-radius: 5px;
        background-color: #ea1e30;
        -webkit-font-smoothing: antialiased;
        outline: 0;

        &:hover {
            background-color: #d82727;
        }
    }

    .salary {
        padding: 15px 0;
    }

    .location {
        padding-bottom: 15px;
    }

    h2 {
        font-size: 23px;
        color: #353535;
        font-weight: 400;
        margin: 25px 0 0;
    }

    ul {
        padding-left: 2rem;
    }

    li {
        line-height: 2em;
    }

    p {
        color: #3a3a3a;
        font-size: 16px;
        line-height: 1.7em;
        width: 100%;
        line-height: 2em;
    }

    .cinema {
        margin: 20px 0;
        color: #353535;
        font-size: 27px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .detail-container {
        margin-top: 20px;

        .detail-slide {
            height: 300px;
            background-color: black;
            border-radius: 10px;

            .slider-container {
                position: relative;
                width: auto;
                height: 300px;
                margin: auto;
                overflow: hidden;
            }

            .slider-wrapper {
                display: flex;
                transition: transform 0.3s ease-in-out;
                height: 100%;
            }

            .slide {
                min-width: 100%;
                height: 100%;
                transition: opacity 0.3s ease-in-out;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;

                .slide-image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .slide.active {
                opacity: 1;
                position: relative;
              }

            .button-left,
            .button-right {
                position: absolute;
                width: 40px;
                height: 40px;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                cursor: pointer;
                z-index: 1;
                font-size: 40px;
                line-height: 40px;

                &:disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
                }
            }

            .button-left {
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }

            .button-right {
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
        }

        .detail-info {
            margin-top: 20px;

            .info-content {
                display: flex;
                gap: 20px;
                padding-top: 20px;

                .info-text {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }
            }

            .info-wrapper {
                display: flex;
                justify-content: center;
                gap: 8px;
                
                .slide {
                    width: 140px;
                    height: 80px;
                    border-radius: 4px;
                    cursor: pointer;

                    &.active {
                        opacity: 1;
                        position: relative;
                        outline: 4px #b49763 solid;
                      }

                    .info-image {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                        border-radius: 4px;;
                    }
                }
            }

            .info-bot {
                margin-top: 20px;
            }
        }
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seats-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    /* Updated: Set the horizontal gap between seats to 10px */
    margin: 60px 0;
    margin-top: 40px;
    position: relative;
}

.seats-list .seat {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seats-list .seat.selected {
    background-color: rgb(8, 156, 255);
}

.seats-list .seat.ready {
    background-color: white;
}

.seats-list .seat.unready {
    background-color: gray;
    cursor: not-allowed;
}